includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - tests
    tmpDir: build/phpstan
    ignoreErrors:
        - message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Collection<int, Illuminate\\Database\\Eloquent\\Model>\|Illuminate\\Database\\Eloquent\\Model::toCsv\(\)#'
          path: tests/ExportableFactoryTest.php
        - message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Collection<int, Illuminate\\Database\\Eloquent\\Model>\|Illuminate\\Database\\Eloquent\\Model::toExcel\(\)#'
          path: tests/ExportableFactoryTest.php
        - '#Call to an undefined method Pest\\PendingCalls\\TestCall::#'
        - message: '#Parameter \#1 \$items of class PeterSowah\\LaravelFactoryDumps\\Collections\\ExportableCollection constructor expects#'
          path: tests/Unit/ExportableCollectionTest.php
